<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
    <ul>
        <li th:fragment="username" class="field">
            <label for="username" th:text="#{template.username}"><span>*</span></label>
            <input type="text" id="username" name="username" th:placeholder="#{template.username}" th:value="${username != null ? username : ''}"
                   th:pattern="#{template.usernamePattern}" th:title="#{template.usernameInvalid}" required="required"></input>
        </li>
        <li th:fragment="firstName"  class="field">
            <label for="firstName" th:text="#{template.firstName}"><span>*</span></label>
            <input type="text" id="firstName" name="firstName" th:placeholder="#{template.firstName}" th:value="${firstName != null ? firstName : ''}"
                   th:title="#{template.firstNameInvalid}" required="required"></input>
        </li>
        <li th:fragment="lastName" class="field">
            <label for="lastName" th:text="#{template.lastName}"><span>*</span></label>
            <input type="text" id="lastName" name="lastName" th:placeholder="#{template.lastName}" th:value="${lastName != null ? lastName : ''}"
                   th:title="#{template.lastNameInvalid}" required="required"></input>
        </li>
        <li th:fragment="email" class="field">
            <label for="email" th:text="#{template.email}"><span>*</span></label>
            <input type="email" id="email" name="email" th:placeholder="#{template.email}" th:value="${email != null ? email : ''}"
                   th:title="#{template.emailInvalid}" required="required"></input>
        </li>
        <li th:fragment="emailConfirm" class="field">
            <label for="emailConfirm" th:text="#{template.confirmEmail}"><span>*</span></label>
            <input type="email" id="emailConfirm" name="email" th:placeholder="#{template.confirmEmail}" th:value="${email != null ? email : ''}"
                   th:title="#{template.confirmEmail}" onblur="equalityCheck('email', 'emailConfirm', /*[[#{template.emailMismatch}]])*/'')"
                   required="required"></input>
        </li>
        <li th:fragment="password" class="field">
            <label for="password" th:text="#{template.password}"><span>*</span></label>
            <input type="password" id="password" name="password" th:placeholder="#{template.password}"
                   th:pattern="#{template.passwordPattern}" th:title="#{template.passwordRequirements}"
                   onblur="equalityCheck('password', 'passwordConfirm', /*[[#{template.passwordMismatch}]])*/'')" required="required"></input>
            <span id="revealPassword" class="far fa-eye" onclick="toggle('password', 'revealPassword');"></span>
        </li>
        <li th:fragment="passwordConfirm" class="field">
            <label for="passwordConfirm" th:text="#{template.confirmPassword}"><span>*</span></label>
            <input type="password" id="passwordConfirm" name="confirm" th:placeholder="#{template.confirmPassword}"
                   th:title="#{template.passwordConfirm}" onblur="equalityCheck('password', 'passwordConfirm', /*[[#{template.passwordMismatch}]])*/'')"
                   required="required"></input>
            <span id="revealConfirm" class="far fa-eye" onclick="toggle('passwordConfirm','revealConfirm');"></span>
        </li>
        <li th:fragment="locale" class="field">
            <label for="language" th:text="#{template.language}"><span>*</span></label>
            <select id="language" name="language">
                <option value="de-DE" th:text="#{template.deutsch}" th:selected="${locale != null ? locale : 'de-DE'}=='de-DE'"></option>
                <option value="en-GB" th:text="#{template.english}" th:selected="${locale != null ? locale : 'de-DE'}=='en-GB'"></option>
            </select>
        </li>
        <li th:fragment="messages">
            <th:block th:each="message : ${#strings.arraySplit(#strings.replace(messages,'\n','|'),'|')}">
                <p class="messages" th:text="${#strings.replace(message,' {}', '')}"></p>
            </th:block>
        </li>
    </ul>
    <a th:fragment="back" class="nav-button" id="back" th:text="#{template.back}" href="javascript:window.history.back();"></a>
</body>
</html>