<html lang="de" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
    <footer th:fragment="footer">
        <hr class="highlight"></hr>
        <ul class="footer">
            <li style="float: left; margin-left: 0.5rem; position: relative;">
	            <a style="float: left; margin-left: 0.5rem; position: relative;" th:href="@{/swagger-ui/index.html}" target="_blank" th:text="#{template.api}"></a>
	        </li>
            <li style="margin-right: 0.5rem;" th:text="#{template.copyright}"></li>
        </ul>
    </footer>
</body>
</html>