<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header-css">
<title>Not Authorized</title>

</head>
<body>
    <div th:replace="fragments/header :: loggedin"></div>

    <section style="top: 300.722px;">
        <article>
            <div class="centered" style="max-height: 70%; max-width: 90%;">
                <h3 th:text="#{template.notAuthorized}"></h3>
                <table th:replace="fragments/fields :: error"></table>
            </div>
        </article>
    </section>

    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>