<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header-css">
<title>Application Error</title>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <section style="top: 300.722px;">
        <article>
            <div id="data">
            <h3 th:text="#{template.failure}"></h3>
            <p th:text="${#httpServletRequest.requestURL}"></p>
            <table>
                <tr>
                    <td>Date</td>
                    <td>${timestamp}</td>
                </tr>
                <tr>
                    <td>Error</td>
                    <td>${error}</td>
                </tr>
                <tr>
                    <td>Status</td>
                    <td>${status}</td>
                </tr>
                <tr>
                    <td>Message</td>
                    <td>${message}</td>
                </tr>
                <tr>
                    <td>Exception</td>
                    <td>${exception}</td>
                </tr>
                <tr>
                    <td>Trace</td>
                    <td><pre>${trace}</pre></td>
                </tr>
            </table>
            </div>
        </article>
    </section>

    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>