<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header-css">
<title>Error</title>
</head>
<body>
    <div th:replace="fragments/header :: loggedin"></div>

    <section style="top: 300.722px;">
        <article>
            <div class="centered" style="max-height: 70%; max-width: 90%;">
                <h3 th:text="#{template.failure}"></h3>
                <table>
                    <tbody>
                        <tr>
                            <td th:text="#{template.timestamp}"></td>
                            <td th:text="${timestamp}"></td>
                        </tr>
                        <tr>
                            <td th:text="#{template.path}"></td>
                            <td th:text="${path}"></td>
                        </tr>
                        <tr>
                            <td th:text="#{template.error}"></td>
                            <td th:text="${error}"></td>
                        </tr>
                        <tr>
                            <td th:text="#{template.status}"></td>
                            <td th:text="${status}"></td>
                        </tr>
                        <tr>
                            <td th:text="#{template.message}"></td>
                            <td th:text="${message}"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </article>
    </section>

    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>