<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header-css">
<title>Error</title>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <section style="top: 300.722px;">
        <article>
            <div id="data">
                <h3 th:text="#{template.failure}"></h3>
                <p th:text="${#httpServletRequest.requestURL}"></p>
                <table>
                    <tr th:if="${timestamp}">
                        <td th:text="#{template.timestamp}"></td>
                        <td th:text="${timestamp}"></td>
                    </tr>
                    <tr th:if="${error}">
                        <td th:text="#{template.error}"></td>
                        <td th:text="${error}"></td>
                    </tr>
                    <tr th:if="${status}">
                        <td th:text="#{template.status}"></td>
                        <td th:text="${status}"></td>
                    </tr>
                    <tr th:if="${message}">
                        <td th:text="#{template.message}"></td>
                        <td th:text="${message}"></td>
                    </tr>
                    <tr th:if="${trace}">
                        <td th:text="#{template.trace}"></td>
                        <td th:text="${trace}"></td>
                    </tr>
                </table>
            </div>
        </article>
    </section>

    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>