<!DOCTYPE html>
<html lang="de" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:insert="fragments/header :: header-css">
<title>About</title>
</head>
<body>
    <div th:replace="fragments/header :: header"></div>

    <section style="top: 300.722px;">
        <article>
            <div class="centered">
                <h3 th:text="#{template.home}"></h3>
                <a href="/modellbahn-ui/index.html">ModellBahn</a>
            </div>
        </article>
    </section>

    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>