html {
    -ms-text-size-adjust: 1rem;
    -webkit-text-size-adjust: 1rem;
    background-color: LightYellow;
    box-sizing: border-box;
	border-radius: .25em;
    overflow-x: hidden
}

aside, details, figcaption, figure, main, menu, section, summary {
    display: block
}

audio: not([controls]) {
    display: none;
    height: 0
}

audio, canvas, progress, video {
    display: inline-block
}

progress {
    vertical-align: baseline
}

header {
    background-color: LightYellow;
	margin-bottom: 0.3rem;
    opacity: 1;
    position: sticky;
    top: 0
}

footer {
    background-color: LightYellow;
    bottom: 0;
    color: grey;
    margin-top:0.3rem
    padding: 1rem;
    position: sticky;
    width: 100%;
}

body {
    margin: 0
}

html, body {
    background-color: LightYellow;
    font-family: Verdana, sans-serif;
    font-size: 12px;
    line-height: 0.15rem
    padding: 0.5rem;
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a: active, a: hover {
    outline-width: 0
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

input, select, textarea {
	border: none;
    font: inherit;
    background-color: inherit;
    color: inherit;
    height: 2.25rem;
    margin: 0.3rem
}

input: disabled, select: disabled, textarea: disabled {
	border: none;
    font: inherit;
    background-color: inherit;
    color: inherit;
    height: 2.25rem;
    margin: 0.3rem
}

input: focus, select: focus, textarea: focus {
    border: 3rem dotted gray;
    font: inherit;
    background-color: inherit;
    color: inherit;
    height: 2.25rem;
    margin: 0.3rem
}

input: readOnly, select: readOnly, textarea: readOnly {
	border: none;
    font: inherit;
    background-color: inherit;
    color: inherit;
    height: 2.25rem;
    margin: 0.3rem
}

select option {
    background-color: LightYellow;
    color: inherit;
}

button {
    background-color: LightSkyBlue;
    border: 0.1rem solid transparent LightSkyBlue;
    border-radius: 0.25em;
    color: white;
    font-size: 1rem;
    padding: 0.3rem 0.3rem;
}

code, kbd, pre, samp {
    font-family: monospace, monospace;
    font-size: 1rem
}

dfn {
    font-style: italic
}

h1 {
    font-size: 3rem
}

h2 {
    font-size: 2.5rem
}
h3 {
    font-size: 2rem
}

h4 {
    font-size: 1.75rem
}

h5 {
    font-size: 1.5rem
}

h6 {
    font-size: 1.25rem
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Segoe UI", Arial, sans-serif;
    font-weight: 400;
    margin: 0.8rem 0
}

fieldset {
    border: 0.1rem solid RoyalBlue;
    margin: 0 0.2rem;
    padding: .3rem .625rem .75rem
}

figure {
    margin: 0.1rem 4rem
}

hr {
	border: none;
    display: block;
    border-top: 0.1rem solid RoyalBlue;
    box-sizing: content-box;
    height: 0;
    margin: 0.5rem 0;
    overflow: visible;
    text-align: center;
    width: 90%
}

img {
    border-style: none;
    height: 1.5rem;
    text-align: center;
    width: 1.5rem
}

legend {
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal;
}

mark {
    background: RoyalBlue;
    color: Black
}

nav {
    display: block;
    color: inherit;
    padding: 0.5rem;
}

optgroup {
    font-weight: bold
}

small {
    font-size: 0.8rem
}

sub {
    bottom: -0.2rem
}

sup {
    top: -0.1rem
}

sub, sup {
    font-size: 0.75rem;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

svg: not(: root) {
    overflow: hidden
}

table {
    border-collapse: collapse;
    border-bottom: 0.1rem solid LightSkyBlue;
    vertical-align: middle;
    padding: 0.5rem;
    width: 90%;
}

thead {
    background-color: LightSkyBlue;
    color: white;
    font-weight: bold;
    height: 2rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1rem;
    text-align: left;
}

tfoot {
    background-color: LightSkyBlue;
    font-weight: bold;
    color: white;
    height: 2rem;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1rem;
    text-align: center;
}

tbody {
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
}

td: center {
    text-align: center;
}

tr: hover {
    background-color: Khaki;
}

tr: nth-child(even) {
    background-color: LemonChiffon;
} 

[hidden], template {
    display: none
}

textarea {
    overflow: auto
}

div.table {
    display: table;
    border-collapse: collapse;
    border-bottom: 0.1rem solid LightSkyBlue;
    vertical-align: middle;
    padding: 1rem;
    width: 90%;
}
 
div.table > div.thead {
    display: table-header-group;
    background-color: LightSkyBlue;
    color: white;
    font-weight: bold;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1rem;
    text-align: left;
    width: 90%;
}
 
div.table > div.tbody {
    display: table-row-group;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 0.5rem;
    width: 90%;
}
 
div.table > div.tfoot {
    display: table-row-group;
    background-color: LightSkyBlue;
    color: white;
    font-weight: bold;
    padding-bottom: 1rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    padding-top: 1rem;
    width: 90%;
}
 
div.table > div.thead > div.table-row,
div.table > div.tbody > div.table-row,
div.table > div.tfoot > div.table-row {
    display: table-row;
}
 
div.table > div.thead > div.table-row > div.table-heading {
    display: table-cell;
    font-weight: bold;
    height: 3rem;
}

div.table > div.thead > div.table-row > div.table-heading-btn {
    display: table-cell;
    text-align: center;
    height: 3rem;
    vertical-align: baseline;
}

div.table > div.tbody > div.table-row > div.table-cell {
    display: table-cell;
    height: 2rem;
}

div.table > div.tbody > div.table-row > div.table-btn {
    display: table-cell;
    text-align: center;
    height: 2rem;
    vertical-align: baseline;
}

div.table > div.tfoot > div.table-row > div.table-prev {
    display: table-cell;
    font-weight: bold;
    text-align: left;
    height: 2rem;
}

div.table > div.tfoot > div.table-row > div.table-foot {
    display: table-cell;
    font-weight: bold;
    text-align: center;
    height: 2rem;
}

div.table > div.tfoot > div.table-row > div.table-next {
    display: table-cell;
    font-weight: bold;
    text-align: right;
    height: 2rem;
}

button.nav-button, a.nav-button {
    background-color: LightSkyBlue;
    border: 0.1rem solid LightSkyBlue;
    border-radius: 0.3rem;
    color: white;
    font-size: 1rem;
    height: 2.1rem;
    padding: 0.3rem 0.3rem;
    vertical-align: baseline
}

img.nav-button {
    background-color: inherit;
    padding: 0.1rem 0.1rem 0.1rem 0.1rem;
    vertical-align: center
}

ul.nav {
    border: none;
	list-style-type: none;
	line-height: 2.5rem;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 90%
}

ul.nav > li {
   display: block;
   float: left;
}

ul.nav > li:last-child {
   display: block;
   float: right;
}
