html {
  -ms-text-size-adjust: auto;
  -webkit-text-size-adjust: auto;
  background-color: LightYellow;
  box-sizing: border-box;
  border-radius: 0.25em;
  overflow-x: hidden;
}

aside, details, figcaption, figure, main, menu, section, summary {
  display: block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

audio, canvas, progress, video {
  display: inline-block;
}

progress {
  vertical-align: baseline;
}

header {
  background-color: inherit;
  margin-bottom: 0.3rem;
  opacity: 1;
  overflow: hidden;
  padding: 0.5rem;
  position: sticky;
  top: 0;
  width: 100%;
}

footer {
  background-color: inherit;
  bottom: 0;
  color: grey;
  margin-top: 0.3rem;
  opacity: 1; 
  overflow : hidden;
  padding: 0.5rem;
  position: sticky;
  width: 100%;
}

body {
  margin: 0;
  padding: 0.5rem;
}

html, body {
  background-color: LightYellow;
  font-family: Verdana, sans-serif;
  font-size: 12px;
  line-height: 0.15rem;
  padding: 0.5rem;
}

a {
  -webkit-text-decoration-skip: objects;
  background-color: transparent;
}

a:active, a:hover {
  outline-width: 0
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted
}

option {
  background-color: inherit;
}

input, select, textarea {
  border: 0;
  font: inherit;
  background-color: Ivory;
  color: inherit;
  height: 2.25rem;
  margin: 0.3rem;
  overflow: hidden;
  width: 100%;
}

input[type="checkbox"] {
  width: unset;
}

input[type="date"] {
  border: 0;
  margin: 0;
  padding: 0;
}

input[type="date"]::-webkit-datetime-edit,
input[type="date"]::-webkit-datetime-edit-fields-wrapper,
input[type="date"]::-webkit-datetime-edit-text,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field {
  border: 0;
  margin: 0;
  padding: 0;
}

input[type="date"]::-webkit-calendar-picker-indicator { background: orange; }

input[type="date"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  display: none;
  border: 0;
  margin: 0;
  padding: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; 
}

input[active], select[active], textarea[active] {
  border: 0.1rem dotted gray;
  background-color: LemonChiffon;
}

input[disabled], select[disabled], textarea[disabled] {
  border: none;
  background-color: inherit;
}

input[focus], select[focus], textarea[focus] {
  border: 0.1rem dotted gray;
  background-color: LemonChiffon;
}

input[readonly], select[readonly], textarea[readonly] {
  border: none;
  background-color: inherit;
}

input[type='url'], table-url {
  cursor:pointer;
  color:blue;
  text-decoration:underline;
}

input[type='url']:hover,
table-url:hover {
  text-decoration:none;
  text-shadow: 1px 1px 1px DimGrey;
}

select option {
  background-color: Ivory;
}

button {
  background-color: LightSkyBlue;
  border: 0.1rem solid LightSkyBlue;
  border-radius: 0.25em;
  color: white;
  font-size: 1rem;
  padding: 0.3rem 0.3rem;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1rem;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.5rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: 400;
  margin: 0.8rem 0;
}

fieldset {
  border: 0.1rem solid RoyalBlue;
  margin: 0 0.2rem;
  padding: 0.3rem 0.625rem 0.75rem;
}

figure {
  margin: 0.1rem 4rem;
}

hr {
  border: none;
  display: block;
  border-top: 0.1rem solid RoyalBlue;
  box-sizing: content-box;
  height: 0;
  margin: 0.5rem 0;
  overflow: visible;
  text-align: center;
  width: 100%;
}

img {
  border-style: none;
  height: 1.5rem;
  text-align: center;
  width: 1.5rem;
}

legend {
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

mark {
  background: RoyalBlue;
  color: Black;
}

nav {
  display: block;
  color: inherit;
  padding: 0.5rem;
}

optgroup {
  font-weight: bold;
}

small {
  font-size: 0.8rem;
}

sub {
  bottom: -0.2rem;
}

sup {
  top: -0.1rem;
}

sub, sup {
  font-size: 0.75rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

svg:not(:root) {
  overflow: hidden;
}

table {
  border-collapse: collapse;
  border-bottom: 0.1rem solid LightSkyBlue;
  vertical-align: middle;
  padding: 0.5rem;
  width: 100%;
}

thead {
  background-color: LightSkyBlue;
  color: white;
  font-weight: bold;
  height: 2rem;
  padding: 0.5rem;
  text-align: left;
}

tfoot {
  background-color: LightSkyBlue;
  font-weight: bold;
  color: white;
  height: 2rem;
  padding: 0.5rem;
  text-align: center;
}

tbody {
  padding: 0.5rem;
}

tr:hover {
  background-color: Khaki;
}

[hidden], template {
  display: none;
}

textarea {
  overflow: auto;
}

div.table {
  display: table;
  border-collapse: collapse;
  border-bottom: 0.1rem solid LightSkyBlue;
  overflow: hidden;
  padding: 0.5rem;
  text-align: left;
  vertical-align: middle;
  width: 100%;
}

div.table > div.thead {
  display: table-header-group;
  background-color: LightSkyBlue;
  color: white;
  font-weight: bold;
  height: 3rem;
}

div.table > div.tbody {
  display: table-row-group;
  overflow-y: auto;
}

div.table > div.tfoot {
  display: table-footer-group;
  background-color: LightSkyBlue;
  color: white;
  font-weight: bold;
  height: 2.5rem;
}

div.table > div.thead > div.table-head {
  display: table-row;
  font-weight: bold;
  height: 3rem;
}

div.table > div.thead > div.form-head > div.table-btn {
  border-right: 1rem;
  height: 2.7rem;
  padding-right: 0.5rem;
  text-align: right;
  vertical-align: top;
}

div.table > div.tbody > div.table-row {
  display: table-row;
  height: 2.5rem;
}

div.table > div.tbody > div.table-row:nth-child(even) {
  background-color: CornSilk;
  height: 2.5rem;
}

div.table > div.tfoot > div.table-foot {
  display: table-row;
  font-weight: bold;
  height: 2.5rem;
}

div.table > div.thead > div.table-head > div.table-heading {
  display: table-cell;
  height: 3rem;
  margin: 1.5rem 1rem 0rem 0.5rem;
  vertical-align: middle;
}

div.table > div.thead > div.table-head > div.table-heading-btn {
  display: table-cell;
  height: 3rem;
  text-align: right;
  vertical-align: middle;
}

div.table > div.tbody > div.table-row > div.table-cell {
  display: table-cell;
  height: 2.5rem;
  vertical-align: middle;
}

div.table > div.tbody > div.table-row > div.table-btn {
  display: table-cell;
  height: 2.5rem;
  margin-top: 0.3rem;
  text-align: right;
  vertical-align: baseline;
}

div.table > div.tfoot > div.table-foot > div.table-footer {
  display: table-cell;
  height: 2.5rem;
  text-align: center;
}

div.table > div.tfoot > div.table-foot > div.table-prev {
  display: table-cell;
  height: 2.5rem;
  text-align: left;
}

div.table > div.tfoot > div.table-foot > div.table-next {
  display: table-cell;
  height: 2.5rem;
  text-align: right;
}

div.table > div.tfoot > div.form-foot > div.table-footer {
  display: table-cell;
  height: 2.5rem;
  text-align: center;
}

button.nav-button, a.nav-button, button.tabLinks {
  background-color: LightSkyBlue;
  border: 0.1rem solid LightSkyBlue;
  border-radius: 0.3rem;
  color: white;
  font-size: 1rem;
  height: 2.1rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  padding: 0.3rem 0.3rem;
  vertical-align: baseline;
}

img.nav-button {
  background-color: inherit;
  border-style: none;
  height: 1.5rem;
  padding: 0.1rem 0.1rem 0.1rem 0.1rem;
  text-align: center;
  vertical-align: center;
  width: 1.5rem;
}

ul.nav {
  border: none;
  list-style-type: none;
  line-height: 2.5rem;
  margin: 0;
  overflow: hidden;
  padding: 0.5rem;
  width: 100%;
}

li.nav {
  display: block;
  float: left;
}

ul.footer {
  border: none;
  display: inline;
  list-style-type: none;
  line-height: 2.5rem;
  margin-left: 0;
  overflow: hidden;
  padding: 0.5rem;
  width: 100%;
}

ul.footer li {
  display: inline;
  float: left;
}

ul.footer li:last-of-type {
  float: right;
}

.modal {
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  padding-top: 10rem;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}

.modal-content {
  animation-name: animatetop;
  animation-duration: 0.4s;
  background-color: LightSkyBlue;
  border: 0.2rem LightSkyBlue;
  border-radius: 3rem;
  margin: auto;
  padding: 0;
  position: relative;
  width: 60rem;
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes animatetop {
  from {
    top: -300px;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

.modal-header {
  background-color: LightSkyBlue;
  color: white;
  height: 5rem;
  width: 100%;
}

.modal-body {
  background-color: LightSkyBlue;
  color: white;
  height: 25rem;
  width: 100%;
}

.modal-body textarea {
  background-color: LightSkyBlue;
  border: none;
  box-sizing: border-box;
  color: white;
  height: 100%;
  line-height: 1.2rem;
  overflow: auto;
  width: 100%;
}

.modal-body textarea[focus] {
  border: none;
}

.modal-footer {
  background-color: LightSkyBlue;
  color: White;
  height: 2rem;
  width: 100%;
}

#adressen_tbody {
  max-height: 6rem;
}

#cvs_tbody {
  max-height: 20rem;
}

#funktionen_tbody {
  max-height: 30rem;
}

#unterKategorien_tbody {
  max-height: 30rem;
}

.tabContent {
  display: none;
  border: 0.1rem solid LightSkyBlue;
  border-radius: 0.3rem;
  font-size: 1rem;
  padding: 0.3rem 0.3rem;
}

button.tabLinks[active] {
  background-color: LightSkyBlue;
  border: 0.1rem solid LightSkyBlue;
  border-radius: 0.3rem;
  color: Grey;
  font-size: 1rem;
  height: 2.1rem;
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  margin-top: 0.1rem;
  padding: 0.3rem 0.3rem;
  vertical-align: baseline;
}

.tab {
  overflow: hidden;
  background-color: inherit;
}

div.flex-container {
  display: flex;
  align-content: flex-start;
  align-items: baseline;
  flex-direction: row;  
  flex-wrap: wrap;
  justify-content: flex-start;
}

div.flex-item {
  display: inline-block;
  flex-grow: 1;
  flex-shrink: 0;
  order: 1;
  margin: 0.1rem 0.1rem 0 0;
  padding: 0.3rem 0.3rem 0 0;
}

div.flex-label {
  display: inline-block;    
  color: Grey;
  flex-grow: 0;
  flex-shrink: 0;
  font-weight: bold;
  margin: 0.1rem 0 0 0;
  order: 1;
  padding: 0.3rem 0 0 0;
  text-align: left;
  vertical-align: baseline;
}

div.flex-control {
  display: inline-block;	
  align-self: flex-start;
  flex-grow: 0;
  flex-shrink: 0;
  background-color: inherit;
  margin: 0 0 0 0;
  order: 2;
  padding: 0 0 0 0;
  text-align: left;
  vertical-align: baseline;
}

button.selection {
  background-color: LightSkyBlue;
  border: 0.1rem solid LightSkyBlue;
  border-radius: 0.25em;
  color: white;
  font-size: 1rem;
  padding: 0.3rem 0.3rem;
  height: 0.1rem;
  width: 0.1rem;
  text-align: right;
  vertical-align: top;
}

.autocomplete {
  position: relative;
  display: inline-block;
}

.autocomplete-list {
  background-color: white;
  display: block;
  line-height: 2rem;
  padding-left: 0.6rem;
  position: relative;
}

.autocomplete-items {
  background-color: white;
  border: 1px solid LightSkyBlue;
  left: 0;
  position: absolute;
  right: 0;
  top: 100%;
  z-index: 99;
}

.autocomplete-items div {
  background-color: LightYellow; 
  cursor: pointer;
  padding: 10px;
}

.autocomplete-items div:hover {
  background-color: LemonChiffon;
  color: LightSkyBlue;
}

.autocomplete-active {
  background-color: LemonChiffon; 
  color: LightSkyBlue;
} 