html {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	background-color: #fffbd0;
	box-sizing: border-box;
	border-radius: 25px;
	overflow-x: hidden
}

aside, details, figcaption, figure, main, menu, section, summary {
	display: block
}

audio: not([controls]) {
	display: none;
	height: 0
}

audio, canvas, progress, video {
	display: inline-block
}

progress {
	vertical-align: baseline
}

header.navbar {
	margin-bottom: 0;
}

footer {
	background-color: #fffbd0;
	padding: 20px 20px 40px 20px;
	color: grey;
	width: 90%;
}

body {
	margin: 0
}

html, body {
    background-color: #fffbd0;
    padding: 0.5em;
	font-family: Verdana, sans-serif;
	font-size: 15px;
	line-height: 1.5
}

a {
	background-color: transparent;
	-webkit-text-decoration-skip: objects
}

a: active, a: hover {
	outline-width: 0
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration: underline dotted
}

input, select, textarea {
    font: inherit;
	background-color: #ffffff;
    color: #0;
    height: 27px;
    margin: 0
}

input: disabled, select: disabled, textarea: disabled {
    font: inherit;
	background-color: #ffffff;
    color: #0;
    height: 27px;
    margin: 0
}

input: readOnly, select: readOnly, textarea: readOnly {
    font: inherit;
	background-color: #ffffff;
    color: #0;
    height: 27px;
    margin: 0
}

button {
    background-color: #5bc0de;
	border: 1px solid transparent;
    border-color: #46b8da;
    border-radius: 3rem;
    color: white;
    font-size: 4px;
	padding: 3em 3em;
}

code, kbd, pre, samp {
	font-family: monospace, monospace;
	font-size: 1px
}

dfn {
	font-style: italic
}

h1 {
	font-size: 36px
}

h2 {
	font-size: 30px
}
h3 {
	font-size: 24px
}
h4 {
	font-size: 20px
}

h5 {
	font-size: 18px
}

h6 {
	font-size: 16px
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Segoe UI", Arial, sans-serif;
	font-weight: 400;
	margin: 10px 0
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em .625em .75em
}

figure {
	margin: 1px 40px
}

hr {
	border: 0;
    display: block;
	border-top: 1px solid #eee;
	box-sizing: content-box;
	height: 0;
	margin: 20px 0;
	overflow: visible;
    width: 90%
}

img {
	border-style: none;
    height: 35px;
    text-align: center;
    width: 35px
}

legend {
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

mark {
	background: #ff0;
	color: #0
}

nav {
	display: block;
    color: inherit;
}

optgroup {
	font-weight: bold
}

small {
	font-size: 80%
}

sub {
	bottom: -0.25px
}

sup {
	top: -0.5px
}

sub, sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline
}

svg: not(: root) {
	overflow: hidden
}

table {
	border-collapse: collapse;
	border-bottom: 1px solid #ddd;
	vertical-align: middle;
	padding: 5em;
	width: 90%;
}

thead {
	background-color: #99D9EA;
    color: white;
	font-weight: bold;
	height: 4px;
	padding-bottom: 5em;
	padding-left: 5rem;
	padding-right: 5rem;
	padding-top: 5em;
	text-align: left;
}

tfoot {
	background-color: #99D9EA;
	font-weight: bold;
    color: white;
	height: 25px;
	padding-bottom: 2em;
	padding-left: 2em;
	padding-right: 2em;
	padding-top: 2em;
	text-align: center;
}

tbody {
	padding-bottom: 5em;
	padding-left: 5em;
	padding-right: 5em;
	padding-top: 5em;
}

td: center {
	text-align: center;
}

tr: hover {
	background-color: #ddd;
}

tr: nth-child(even) {
	background-color: #f2f2f2;
} 

[hidden], tpxplate {
	display: none
}

textarea {
	overflow: auto
}

div.table {
	display: table;
    border-collapse: collapse;
    border-bottom: 1px solid #ddd;
    vertical-align: middle;
    padding: 5px;
    width: 90%;
}
 
div.table > div.thead {
    display: table-header-group;
    background-color: #99D9EA;
    color: white;
    font-weight: bold;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    text-align: left;
    width: 90%;
}
 
div.table > div.tbody {
    display: table-row-group;
    padding-bottom: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    width: 90%;
}
 
div.table > div.tfoot {
    display: table-row-group;
    background-color: #99D9EA;
    color: white;
    font-weight: bold;
    padding-bottom: 10px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 10px;
    width: 90%;
}
 
div.table > div.thead > div.table-row,
div.table > div.tbody > div.table-row,
div.table > div.tfoot > div.table-row {
    display: table-row;
}
 
div.table > div.thead > div.table-row > div.table-heading {
    display: table-cell;
    font-weight: bold;
    height: 4px;
}

div.table > div.thead > div.table-row > div.table-heading-btn {
    display: table-cell;
    text-align: center;
    height: 4px;
    vertical-align: baseline;
}

div.table > div.tbody > div.table-row > div.table-cell {
    display: table-cell;
    height: 25px;
}

div.table > div.tbody > div.table-row > div.table-btn {
    display: table-cell;
    text-align: center;
    height: 25px;
    vertical-align: baseline;
}

div.table > div.tfoot > div.table-row > div.table-prev {
    display: table-cell;
    font-weight: bold;
    text-align: left;
    height: 25px;
}

div.table > div.tfoot > div.table-row > div.table-foot {
    display: table-cell;
    font-weight: bold;
    text-align: center;
    height: 25px;
}

div.table > div.tfoot > div.table-row > div.table-next {
    display: table-cell;
    font-weight: bold;
    text-align: right;
    height: 25px;
}

.nav-button {
    background-color: #5bc0de;
    border: 1px solid transparent;
    border-color: #46b8da;
    border-radius: 3px;
    color: white;
    font-size: 12px;
    padding: 3px 3px;
}

.nav-img{
    background-color: inherit;
	border: none;
    height: 90%;
    margin: none;
	width: 90%;
}